@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Manage Employee</h2>
        <p>
            Update data for an employee.
        </p>
        <p>@Html.ActionLink("Go", "Index", "Employee", null, new { @class="btn btn-default" })</p>
    </div>
</div>